h1{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    margin-left: 15%;
    width: 70%;
}



/* checkbox-circle2 */
.checkbox-circle2 input[type="checkbox"] {
    display: none;
  }
  .checkbox-circle2 input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .checkbox-circle2 input[type="checkbox"]:hover + label:hover {
    color: rgb(23, 86, 228);
  }
  .checkbox-circle2 input[type="checkbox"]:hover + label:before {
    border: 1px solid #343a3f;
  }
  .checkbox-circle2 input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
  }
  .checkbox-circle2 input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 1em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
  }
  .checkbox-circle2 input[type="checkbox"]:checked + label:before {
    border-radius: 1em;
    border: 2px solid #fff;
    width: 1.15em;
    height: 1.15em;
    background: #50565a;
  }
  /* checkbox-circle2 end */
  
  