*{
    margin: 0;
    padding: 0;
}
:root
{
    --primary-color: #4CAF50;
    --white: white;
    --secondary-color: rgb(105, 100, 100);
    --text-color: #2d2727;
}
body {
    display: flex !important;
    height: 100vh !important;
    flex-direction: column;
}
.left-side
{
    background-color: var(--primary-color);
    padding: 50px 30px;
    color: var(--white);
    text-align: center;
}
.left-side img
{
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}
.left-side h2
{
    margin: 30px 0;
}
.left-side p
{
    margin-bottom: 25px;
}
.fix-image
{
    display: flex;
    justify-content: center;
}
#override-boot {
    color: var(--primary-color) !important;
}
#learn-more-cta
{
    font-size: 20px;
    padding: 10px 76px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--white);
    cursor: pointer;
}
/* form {
    display: flex;
    justify-content: center;
} */

.card-body {
    display: flex;
    justify-content: center;
}
.right-side
{
    padding: 10px 10px;
    max-width: 300px;
    color: var(--secondary-color);
}
.right-side h1
{
    margin: 10px 0;
    color: var(--text-color);
    font-size: 35px;
}
.right-p-margin
{
    margin: 15px 0;
}
.login-input
{
    width: 98%;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 15px;
}
#create-cta
{
    color: var(--primary-color);
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
#btn-cta
{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 7px;
    padding: 14px 35px;
    cursor: pointer;
}

.full-height {
    height: 100% !important;
}
