*{
    margin: 0;
    padding: 0;
}
:root
{
    --primary-color: #4CAF50;
    --white: white;
    --secondary-color: rgb(105, 100, 100);
    --text-color: #2d2727;

}
#page-info
{
    height: 100vh;
    background-color: var(--white);
    color: var(--text-color);
}
#button-align
{
    display: flex;
    justify-content: center;
}
.button-borders
{
    color: var(--white);
    font-size: 10px;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
}
.top-btn-cta
{
    border: 3px solid var(--white);
    border-radius: 5px;
    padding: 3px 15px;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 25px;
}

.top-btn-cta:hover
{
    background-color: rgb(8, 106, 8);
    cursor: pointer;
}
#hero
{
    margin-top: 10px;
    font-size: 25px;
    font-weight:lighter;
    height: 50vh;
    text-align: center;
    margin: 0 auto;

}
table
{
    padding: 0px 20px;
    max-height: 250px;
    width: 75%;
    /* border collapse ensures only 1 line sepearation instead of multiple borders */
    margin: 0 auto;
    border: 1px solid black;
}
tr:hover:not(#header)
{
    cursor: pointer;
    background-color: #F5F5F5;
}
td
{
    font-size: 20px;
    padding: 10px 5px;
}
th, td {
    
    
    border: 1px solid white;
}
#task
{
    border-left: 5px solid white;
    padding-left: 4px;
}
#button-div
{
    display: flex;

}