*{
    margin: 0;
    padding: 0;
}
:root
{
    --primary-color: #4CAF50;
    --white: white;
    --secondary-color: rgb(105, 100, 100);
    --text-color: #2d2727;
}
#page-info
{
    height: 10vh;
}
.page-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    /* width: 600px; */
    /* redefine with in order to fix */
    margin: 0 auto;
    /* aligns text to the center of the screen */
    /* to add top space from the navigation bar, just use padding-top */
    background-color: #009879;
    border: none;
    color: var(--white);
    padding: 10px 10px;
    width: 100%;
}
.page-info
{
    display: flex;
    justify-content: center;
}
.task-table
{
    display: flex;
    justify-content: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
