p{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(243,238,231)
}

input{
    margin-bottom: 20px;
    
}

.entry{
    position: relative;
    margin-bottom: 20px;
}

.entry label{
  position:absolute;
  top:0px;
  left:0px;
  font-size:16px;
  color:#fff; 
  transition: all 0.5s ease-in-out;
}
.entry input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.entry input:focus{ 
 border:none; 
 outline:none;
 border-bottom:1px solid rgb(243,238,231); 
}


.form-box{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(174,207,156);
    border-radius:10px;
    padding:70px 100px;
}


.login-button{
    margin-top: 20px;
    color: black;
    background-color: rgb(243,238,231);
    outline: none;
        border: 0;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    margin-top: 40px;
}

.entry input:focus ~ label,
.entry input:valid ~ label{
    top: -12px;
    font-size: 12px;
}

