<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../css/viewPosts.css">
    <link rel = "stylesheet" href = "../css/adminButtons.css">
    <title>Document</title>
</head>
<body>
    <%-include('navbar.ejs')%>
    <header>
        <div class = "container" id = "page-info">
            <div id = "button-align">
                <div class = "button-borders">
                    <a href = "/admin/post"><button class = "top-btn-cta" id = "view-btn" autofocus >View Posts</button></a>
                    <a href = "/admin/view"><button class = "top-btn-cta" id = "post-btn" autofocus>Post New</button></a>
                </div>               
            </div>
            <div id = "hero">
                <table id = "viewTable">
                    <tr id = "header">
                      <th id = "task">Task</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Location</th>
                      <th>Spots</th>
                    </tr>
                </table>
            </div>
        </div>
    </header>
    <script src = "../js/viewPosts.js"></script>
</body>
</html>