<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ServiQ Map</title>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="../styles/aboutUs.css">
  <link rel="icon" type="image/png" href="../images/ServiQ_logo.png" />
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwHozpYoJS8xgURnkkICo7L0vw8xW2Oak&libraries=places"></script> -->
  
</head>
<body>
  <%-include('navbar.ejs')%>
  <section>
    <!-- Hero Banner Section -->
    <div class="d-flex align-items-center" style="background-color: hsl(0, 0%, 96%)">
      <div class="container py-5">
        <div class="introduction">
          <div class=" intro-card">
            <div>
              <h2 class="fw-bold">Our <span id="green-span-cta">Mission</span></h2>
            </div>
            <div>
              <p class="my-4">
              We are a group of highly talented and motivated college students aiming to create a reliable repository 
              and system helping out local nonprofits and organizations. In the past, we ourselves had trouble locating events for us to participate
              in ourselves. Our interactive map system has minimized this proccess. Interested in creating an account to post your volunteer events
              to the map? All inquries can go to <a href="mailto:outreach@serviq-serve-with-purpose.com">outreach@serviq-serve-with-purpose.com</a>
            </p>
            </div>
            <div>
              <button class="btn d-flex align-items-center justify-content-center gap-2" id="linked-in-cta">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
              </svg>
              <a class = "textDecor-cta" href = "https://linkedin.com/company/serviq-serve-with-purpose/">Follow Our LinkedIn</a>
            </button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <!-- Feature Cards Section -->
    <div class="container py-5">
      <div class="card-group">
        <div class="card rounded shadow-sm hover-card">
          <img class="card-img-top p-3" src="/images/mapbox-icon.png" alt="Google Maps API">
          <div class="card-body">
            <h5 class="card-title fw-bold">Powered by APIs</h5>
            <p class="card-text">
              We provide a real-time updating repository, enhanced with advanced querying and filtration system, allowing users
              to seamlessly search and find opportunities to fit their schedule, seamlessly powered by MapBox and Google Places API for location-based search and markers.
            </p>
          </div>
        </div>
        <div class="card rounded shadow-sm hover-card mx-md-4">
          <img class="card-img-top p-3" src="../images/dashboard-icon.jpg" alt="Dashboard">
          <div class="card-body">
            <h5 class="card-title fw-bold">Dashboard</h5>
            <p class="card-text">
              Reach out to our email to register your organization. Post, update, and delete new volunteer tasks to our real-time database on our dashboard.
              All actions will update the map instantly, allow users to see your events as soon as possible.
            </p>
          </div>
        </div>
        <div class="card rounded shadow-sm hover-card">
          <img class="card-img-top p-3" src="../images/email-icon.jpg" alt="Email Notifications">
          <div class="card-body">
            <h5 class="card-title fw-bold">Notification</h5>
            <p class="card-text">
              Our automated email system allows users to get instant notification regarding the address, event timing, and other 
              nessecary information, including an external link your organization's sign up or webpage, making it easy for anyone
              to share information across their devices.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
