<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/signup.css">
</head>
<body>
    <%-include('navbar.ejs')%>
    <div class = "contentSignUp">
        <div class="form-box card">
        <h2 class="admin-text">Create Agency Information</h2>
        <p class="subtitle">Before you can complete signing in, please complete the required fields</p>

        <form id="agency-register-form">
            <div class="signup-info">
                <input type="text" placeholder="Agency name" id="agency-name" name="agencyName" required>
                <input type="text" placeholder="Agency description" id="agency-desc" name="agencyDesc" required>
            </div>
            <div class="actions" style = "margin-top: 25px">
                <button type="submit" id="submit-button">Sign in</button>
            </div>
        </form>
    </div>

    </div>
    
    <script>
        window.authorizedFetch = async (input, init = {}) => {
        const user = auth.currentUser;
        const token = user ? await user.getIdToken() : null;

        const headers = new Headers(init.headers || {});
        if (token) {
            headers.set('Authorization', `Bearer ${token}`);
        }

        return fetch(input, {
            ...init,
            headers,
            credentials: 'include' // optional, keep if you use cookies
        });

        };
        document.getElementById("agency-register-form").addEventListener("submit", async function(event) {
            event.preventDefault();
            const agencyName = document.getElementById("agency-name").value;
            const agencyDesc = document.getElementById("agency-desc").value;
                const response = await authorizedFetch('/auth/google', {
                method: "POST",
                headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                },
                // Automatically converted to "username=example&password=password"
                body: new URLSearchParams({agencyName, agencyDesc}),
                credentials: 'include'
                })
                .then(response => response.json())
                .then(data => {
                    window.location.href = "/";
                })
                .catch(error => {
                    console.log(error);
                });
            })
    </script>
</body>
</html>