<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../styles/navbar.css">
</head>
<body>
    <header>
        <div class = "container">
            <nav>
                <img src = "../images/ServiQ-trans.png">
                <div class = "external-pages right-header">
                    <a href="/" class = "link-cta">Home</a>
                    <a href="/about" class = "link-cta">Learn More</a>
                    <% if (typeof (locals.uid) === "undefined") { %>
                        <a href="/auth/login" class = "login-cta">Login Here</a>
                    <% } %>
                    <% if (typeof (locals.uid) !== "undefined") { %>
                        <a href = "/admin/post">Dashboard</a>
                        <div style = "position:relative">
                            <span id = "user-email-display" style = "cursor:pointer"> <%=locals.email%></span>
                            <div id="logout-container" style = "position:absolute">
                                <button id="logout-link" class="login-cta">Sign Out</button>
                            </div>
                        </div>
                    <% } %>

                </div>
            </nav>
        </div>
    </header>
    <script src = "../scripts/signOut.js"></script>
</body>
</html>