<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel = "stylesheet" href = "/styles/googleButton.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <%-include('navbar.ejs')%>
    <div class = "contentSignUp container">
         <div class="form-box card">
         <h2 class="admin-text">Create Agency Account</h2>

        <form id="agency-register-form">
              <div class="signup-info">
                  <input type="text" placeholder="Agency name" id="agency-name" name="agencyName">
                  <input type="email" placeholder="email" id="agency-email" name="email">
                  <textarea type="text" placeholder="Mission Statement" class = "agencyDescription-CTA" id="agency-desc" name="agencyDesc"></textarea>
                  <input type="password" placeholder="Password" id="agency-password" name="password">
                  <input type="password" placeholder="Confirm" id="agency-reenter-password" name="password2">
                  <p class="help-text">6+ characters with number or symbol</p>
              </div>
              <div class="actions">
                  <button type="submit" id="submit-button">Sign up</button>
              </div>
              <div class="error-message">
                  <p id="error-tag"></p>
              </div>
        </form>
        <p class = "hrDivider">OR</p>
            <button id = "google-sign" style = "border: 1px solid black; cursor: pointer">Sign up With Google        
            </button>
    </div>
    </div>
        <!-- This modal is for filling out the register info for a google user (agency name, description) -->
    <div class="modal fade" id="googleRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agency Information</h5>
          </div>
          <div class="modal-body">
            <p class="subtitle">Before you can finish logging in as a Google user, fill out the required fields</p>

            <form id="google-register-form">
                <div class="signup-info">
                    <input type="text" placeholder="Agency name" id="agency-nameMODAL" name="agencyName" required>
                    <textarea type="text" class = "agencyDescription-CTA" placeholder="Mission Statement" id="agency-descMODAL" name="agencyDesc" required></textarea>
                </div>
                <div class="actions" style = "margin-top: 25px">
                    <button type="submit" id="submit-buttonMODAL">Sign in</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type = "module" src = "../scripts/signUp.js">
    

    </script>
    
   
</body>
</html>