<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../styles/signup.css">
</head>

<body>
    <%-include('navbar.ejs')%>
    <div class = "contentSignUp">
         <div class="form-box card">
         <h2 class="admin-text">Create Agency Account</h2>

        <form id="agency-register-form" action="/auth/register" method="POST">
            <div class="signup-info">
                <input type="text" placeholder="Agency name" id="agency-name" name="agencyName">
                <input type="email" placeholder="email" id="agency-email" name="email">
                <input type="text" placeholder="Agency description" id="agency-desc" name="agencyDesc">
                <input type="password" placeholder="Password" id="agency-password" name="password">
                <input type="password" placeholder="Confirm" id="agency-reenter-password" name="password2">
                <p class="help-text">6+ characters with number or symbol</p>
            </div>
            <div class="actions">
                <button type="submit" id="submit-button">Sign up</button>
            </div>
            <div class="error-message">
                <% if (typeof (locals.registerError) !== "undefined") { %>
                <p id="error-tag" style="color: red"><%= locals.registerError %></p>
                <% } %>
            </div>
            <div class="login-link">
            Already have an account? <a href="/auth/login">Log in</a>
            </div>
        </form>
    </div>
    </div>
    
   
</body>
</html>