<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../styles/login.css">   
</head>
<body>
    <%-include('navbar.ejs')%>
    <section>
        <div class = "container">
            <main>
                <div class = "login-panel">
                    <div class = "left-side">
                        <div class = "fix-image">
                            <img src = "../images/ServiQ_logo.png">
                        </div>
                        <!-- this is to allow for us to use display: flex to just center the image itself, you can't do this without wrapping
                         it inside of a div element -->
                        <h2> Don't waste your time </h2>
                        <p> Join others to begin posting and finding other volunteers today</p>
                        <br>
                        <button id = "google-sign" style = "border: 1px solid black; cursor: pointer">Sign in With Google        
                        </button>
                    </div>
                    <div class = "right-side">
                        <h1> Login </h1>
                        <p class = "right-p-margin"> Before we get started, your organization must login or register if you don't already have an account.</p>
                        <form id="signin-form">
                            <p>Username</p>
                            <input type = "email" id = "email-entry" class = "login-input" name = "email">
                            <br>
                            <p>Password</p>
                            <input type = "password" id = "password-entry" class = "login-input" name = "password">
                            <div class = "createOrLogin">
                                <a href = "/auth/register" id = "create-cta">Create an account?</a>
                                <button type = "submit" value = "Login" id = "btn-cta">Login</button>
                            </div>
                            
                            <div class = "error-message" style = "display: flex; align-items: center; height: 5vh">
                                    <p id = "error-tag" style = "color: red;"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </section>
    
    
    
<script type = "module" src = "../scripts/google.js"></script>
<script type = "module" src = "../scripts/signIn.js"></script>
</body>

</html>