<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../styles/viewPosts.css">
    <link rel = "stylesheet" href = "../styles/taskpage.css">
    <link rel = "stylesheet" href = "../styles/editAgencyInfo.css">
    <link rel="icon" href="../images/ServiQ_logo.png" type="image/x-icon">
    <!-- Mapbox CSS -->
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
        <!-- Google Places API -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRuZeVsj0JhzbxkUeV5FYb8PQVB-8zHEU&libraries=places"></script>
        <!-- Flatpickr CSS -->
         <link rel="stylesheet" type = "text/css" href="/flatpickr/flatpickr.min.css" />
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
    <title>ServiQ</title>
</head>
<body>
    <%-include('navbar.ejs')%>
    <header class = "container">
        <!-- Button trigger modal -->
    <div id = "top-buttons">
        <div class = "card" style = "display: flex; flex-direction: column;justify-content: center;align-items:center; margin: 10px 0">
        <h5>Welcome, <%=(locals.email)%></h5>
        <div class = "text-center">
            <button type = "button" class = "btn taskPost-btn" data-bs-toggle = "modal" data-bs-target = "#missionStateToggle">
            Profile</button>
            <button type="button" class="btn taskPost-btn" data-bs-toggle="modal" data-bs-target="#POSTModal">
            Add New Event
            </button>
            <div class="alert alert-success d-flex align-items-center d-none" id = "messageSuccess" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            <div id = "databaseMessage">
                                
                            </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center d-none" id = "messageFailed" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div>
                                Internal Server Error
                            </div>
            </div>
        </div>
    </div>
    </div>



<!-- Modal for editing agency details -->
<div class="modal fade" id="missionStateToggle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Agency Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class = "text-center">
            <form id="agency-update-form">
            <div class="signup-info">
                <label>Agency Name</label>
                <input type="text" value = "<%=(locals.agencyName)%>" placeholder="Agency name" class = "agencyUpdateFormInput" id="agency-name" name="agencyName" required>
                <label>Mission Statement</label>
                <textarea type="text" class = "agencyDescription-CTA agencyUpdateFormInput" placeholder="Mission Statement" id="agency-desc" name="agencyDesc" required><%=(locals.agencyDescription)%></textarea>
                <label for="formFileSm">Organization Logo (png/jpg)</label>
                <input class="form-control" accept = ".png,.jpg" id="formFileMd" type="file">
            </div>
            <input class="btn taskPost-btn" type="submit" value="Submit">
        </form>
            
        </div>
        
      </div>
    </div>
  </div>
</div>
    
    

<!-- Modal -->
 <div class="modal fade" id="PATCHModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style = "color: #2d4579;">Edit an Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map"></div>    
        <div>        
            <form class="edit-post">
                <div class="location">
                    <label for="autocomplete">Enter a Location</label>
                    <input type="text" placeholder = "Please re-enter and select location before submitting" id="autocomplete" class = "autocompletePATCH" name="location" onclick = "initAutocomplete(event)" required>
                    <p id = "addressErrorMessagePATCH" style = "color: red"></p>
                </div>
                
                <div class="calendar">
                    <label for="date">Date</label>
                    <input type="date" id="datePATCH" class = "datePATCH" name="date">
                </div>
                <div class = "time" style = "display: flex; justify-content: center; gap: 15%;margin-bottom: 35px;">
                    <div>
                        <label for = "time">Start Time</label>
                        <input type="time" id="start_time" class = "start_timePATCH" placeholder="Select Time">
                    </div>
                    <div>
                        <label for = "time">End Time</label>
                        <input type="time" id="end_time" class = "end_timePATCH" placeholder="Select Time">
                    </div>
                    
                </div>
                
                

                <!--All available categories-->
                <div class="category-group" style = "display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <label>Select Categories</label>
                    <div class="category-boxes" style = "display: flex; justify-content: center;">
                        <div>
                            <input type="radio" id="comm-service" class="inp-cbx inp-cbxPATCH" name="category" value="community">
                            <label class="cbx" for="comm-service">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Community</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="climate" class="inp-cbx inp-cbxPATCH" name="category" value="climate">
                            <label class="cbx" for="climate">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Climate</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="wildlife" class="inp-cbx inp-cbxPATCH" name="category" value="wildlife">
                            <label class="cbx" for="wildlife">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Wild Life</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="teaching" class="inp-cbx inp-cbxPATCH" name="category" value="teaching">
                            <label class="cbx" for="teaching">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Teaching</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="environment" class="inp-cbx inp-cbxPATCH" name="category" value="environment">
                            <label class="cbx" for="environment">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Environment</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="social" class="inp-cbx inp-cbxPATCH" name="category" value="social">
                            <label class="cbx" for="social">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Social</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="animal" class="inp-cbx inp-cbxPATCH" name="category" value="animal">
                            <label class="cbx" for="animal">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Animal</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="sports" class="inp-cbx inp-cbxPATCH" name="category" value="sports">
                            <label class="cbx" for="sports">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Sports</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="health" class="inp-cbx inp-cbxPATCH" name="category" value="health">
                            <label class="cbx" for="health">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Health</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--End of Categories-->
                  
                <!--Event Disc. and Volunteer Count-->
                <div>
                    <label for="volunteer-count">Minimum Age Requirement</label>
                    <input type="number" id="volunteer-count" placeholder = "This field is not required" class = "minAgePATCH" name="volunteer_count">
                </div>
                <div>
                    <label for="task">Task</label>
                    <input type="text" id="task" placeholder = "Character limit 35" name="task" maxlength = "35" class = "taskPATCH" required>
                </div>
                <div>
                    <label for="task">External</label>
                    <input type="text" id="external" class = "externalPATCH" name="external" placeholder = "Enter external link" required>
                </div>
                <div>
                    <label for="description">Event Description</label>
                    <textarea id="description" class = "descriptionPATCH" name="description"></textarea>
                </div>
                <div style = "display: flex; justify-content: center">
                    <input class="btn taskPost-btn submitMethodPATCH" type="submit" value="Submit">
                </div>
                
                
                <!-- SVG Sprites -->
                <svg class="inline-svg" style="display: none;">
                    <symbol id="check" viewBox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </symbol>
                </svg>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="POSTModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style = "color: #2d4579;">Post an Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map"></div>    
        <div>        
            <form class="task-post">
                <div class="location">
                    <label for="autocomplete">Enter a Location</label>
                    <input type="text" id="autocomplete" class = "autocompletePOST" name="location" onclick = "initAutocomplete(event)" required>
                    <p id = "addressErrorMessagePOST" style = "color: red"></p>
                </div>
                
                <div class="calendar">
                    <label for="date">Date</label>
                    <input type="date" id="datePOST" class = "datePOST" name="date">
                </div>
                <div class = "time" style = "display: flex; justify-content: center; gap: 15%;margin-bottom: 35px;">
                    <div>
                        <label for = "time">Start Time</label>
                        <input type="time" id="start_time" class = "start_timePOST" placeholder="Select Time">
                    </div>
                    <div>
                        <label for = "time">End Time</label>
                        <input type="time" id="end_time" class = "end_timePOST" placeholder="Select Time">
                    </div>
                    
                </div>
                
                

                <!--All available categories-->
                <div class="category-group" style = "display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <label>Select Categories</label>
                    <div class="category-boxes" style = "display: flex; justify-content: center;">
                        <div>
                            <input type="radio" id="comm-servicePOST" class="inp-cbx inp-cbxPOST" name="category" value="community">
                            <label class="cbx" for="comm-servicePOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Community</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="climatePOST" class="inp-cbx inp-cbxPOST" name="category" value="climate">
                            <label class="cbx" for="climatePOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Climate</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="wildlifePOST" class="inp-cbx inp-cbxPOST" name="category" value="wildlife">
                            <label class="cbx" for="wildlifePOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Wild Life</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="teachingPOST" class="inp-cbx inp-cbxPOST" name="category" value="teaching">
                            <label class="cbx" for="teachingPOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Teaching</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="environmentPOST" class="inp-cbx inp-cbxPOST" name="category" value="environment">
                            <label class="cbx" for="environmentPOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Environment</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="socialPOST" class="inp-cbx inp-cbxPOST" name="category" value="social">
                            <label class="cbx" for="socialPOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Social</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="animalPOST" class="inp-cbx inp-cbxPOST" name="category" value="animal">
                            <label class="cbx" for="animalPOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Animal</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="sportsPOST" class="inp-cbx inp-cbxPOST" name="category" value="sports">
                            <label class="cbx" for="sportsPOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Sports</span>
                            </label>
                        </div>
                
                        <div>
                            <input type="radio" id="healthPOST" class="inp-cbx inp-cbxPOST" name="category" value="health">
                            <label class="cbx" for="healthPOST">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Health</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--End of Categories-->
                  
                <!--Event Disc. and Volunteer Count-->
                <div>
                    <label for="volunteer-count">Minimum Age Requirement</label>
                    <input type="number" id="volunteer-count" placeholder = "This field is not required" min = "0" max = "65" maxlength = "35" class = "minAgePOST" name="volunteer_count">
                </div>
                <div>
                    <label for="task">Task</label>
                    <input type="text" id="task" placeholder = "Character limit 35" class = "taskPOST" name="task" required>
                </div>
                <div>
                    <label for="task">External</label>
                    <input type="text" id="external" class = "externalPOST" name="external" placeholder = "Enter external link or contact information" required>
                </div>
                <div>
                    <label for="description">Event Description</label>
                    <textarea id="description" class = "descriptionPOST" name="description"></textarea>
                </div>
                <div style = "display: flex; justify-content: center">
                    <input class="btn taskPost-btn" type="submit" value="Submit">
                </div>
                
                
                <!-- SVG Sprites -->
                <svg class="inline-svg" style="display: none;">
                    <symbol id="check" viewBox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </symbol>
                </svg>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
        <div class = "container table-responsive" id = "page-info">

                <table id = "viewTable" class = "table">
                    <tr id = "header">
                      <th>Task</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Location</th>
                      <!-- NOTE TO FUTURE SELF: to get spots back uncomment below and viewPosts.js code -->
                      <!-- <th>Spots</th> -->
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                </table>
        </div>
    </header>
    <script type = "module" src = "../scripts/viewPosts.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <script type = "module" src="../scripts/taskPost.js"></script>
    <script type = "module" src = "../scripts/editTask.js"></script>
    <script type = "module" src = "../scripts/updateAgencyInfo.js"></script>
    <script src="/flatpickr/flatpickr.min.js"></script>
</body>
</html>